* {
    border: none;
    border-radius: 10;
    font-family: "JetBrainsMono Nerd Font" ;
    font-size: 15px;
    min-height: 10px;
}

window#waybar {
    background: transparent;
}

#workspaces {
    margin-top: 10px;
    margin-left: 17px;
    background: #1E1D2F; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #a6e3a1;
    color: #a6e3a1;
    transition: 0.3s;
}
#workspaces button {
    color: #a6e3a1;
    transition: 0.3s;
}
#workspaces button:hover {
    color: #1E1D2F;
    background: #a6e3a1;
}
#workspaces button.visible {
    color: #1E1D2F;
    background: #a6e3a1;
}

#clock {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #a6e3a1;
    border-bottom: 3px;
    border-style: solid;
    border-color: #a6e3a1;
    transition: 0.3s;
}
#clock:hover {
    color: #1E1D2F; 
    background: #a6e3a1;
}

#language{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #a6e3a1;
    border-bottom: 3px;
    border-style: solid;
    border-color: #a6e3a1;
    transition: 0.3s;
}
#language:hover{
    color: #1E1D2F; 
    background: #a6e3a1; 
}

#wireplumber {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #a6e3a1;
    border-bottom: 3px;
    border-style: solid;
    border-color: #a6e3a1;
    transition: 0.3s;
}
#wireplumber:hover{ 
    background: #a6e3a1;
    color: #1E1D2F;
}
#wireplumber.muted {
    color: #f38ba8;
    background: #1E1D2F; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #f38ba8;
    transition: 0.3s;
}
#wireplumber.muted:hover {
    background: #f38ba8;
    color: #1E1D2F; 
}

#network {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #a6e3a1;
    border-bottom: 3px;
    border-style: solid;
    border-color: #a6e3a1;
    transition: 0.3s;
}
#network:hover { 
    color: #1E1D2F;
    background: #a6e3a1;
}

#battery{
    margin-top: 10px;
    margin-right: 17px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #a6e3a1;
    border-bottom: 3px;
    border-style: solid;
    border-color: #a6e3a1;
    transition: 0.3s; 
}
#battery:hover{
    color: #1E1D2F;
    background: #a6e3a1;
}
